@using System.Threading
@using EPiServer.Reference.Commerce.Site.Features.ProductListing.Models
@model EPiServer.Reference.Commerce.Site.Features.ProductListing.Blocks.ProductListBlock

@if (Model != null)
{
    //string currentUrl ="https://"+ HttpContext.Current.Request.Url.Host;
    string productListingUrl = StringConstants.Https + StringConstants.CurrentHostName + StringConstants.ProductListingApiUrl;
    <input id="productListingUrl" type="hidden" value="@productListingUrl">
    <input id="currentLanguage" type="hidden" value="@Thread.CurrentThread.CurrentUICulture.Name">
    <section id="shop-category" class="shop-category">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-md-3 col-sm-6 col-12">
                    <h2 class="shop-category_title text-center">@Html.DisplayFor(x => x.FilterTitle)</h2>
                </div>
                <div class="col col-md-3 col-sm-6 col-12">
                    <select class="custom-select js-filter-brand">
                        <option @(string.IsNullOrEmpty(Model.SelectedParams.Brand) ? "selected" : "") value="">Brands</option>
                        @if (Model.FilterParams.Brands != null)
                        {
                            foreach (var brand in Model.FilterParams.Brands)
                            {

                                <option @(!string.IsNullOrEmpty(Model.SelectedParams.Brand) && Model.SelectedParams.Brand.Equals(brand) ? "selected" : "") value="@brand">@brand</option>
                            }
                        }
                    </select>
                </div>
                <div class="col col-md-3 col-sm-6 col-12">
                    <select class="custom-select js-filter-category">
                        <option @(string.IsNullOrEmpty(Model.SelectedParams.Category) ? "selected" : "") value="">Categories</option>
                        @if (Model.FilterParams.Categories != null)
                        {
                            foreach (var category in Model.FilterParams.Categories)
                            {
                                <option @(!string.IsNullOrEmpty(Model.SelectedParams.Category) && Model.SelectedParams.Category.Equals(category) ? "selected" : "") value="@category">@category</option>
                            }
                        }
                    </select>
                </div>
                <div class="col col-md-3 col-sm-6 col-12">
                    <select class="custom-select js-filter-price">
                        <option @(Model.SelectedParams.PriceFrom == 0 && Model.SelectedParams.PriceTo == 0 ? "selected" : "") data-price="0:0" value="all">Price</option>
                        @if (Model.FilterParams.Price != null)
                        {
                            int priceValueCount = 0;
                            foreach (PriceRange price in Model.FilterParams.Price)
                            {
                                priceValueCount++;
                                var fromPrice = Convert.ToDecimal(Model.SelectedParams.PriceFrom);
                                var toPrice = Convert.ToDecimal(Model.SelectedParams.PriceTo);
                                <option @(fromPrice == price.From && toPrice == price.To ? "selected" : "") data-price="@price.From:@price.To" value="@priceValueCount">@price.ToString()</option>
                            }
                        }

                    </select>
                </div>
                <div class="col col-md-9 col-sm-6 col-12">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End shop category -->
    <!-- Start product list -->
    <section id="product-list" class="product-list js-product-list-container " data-more="true">
        <div class="container">
            <div class="row">
                <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
                    <h2 class="product-list_title">@Html.DisplayFor(x => x.ProductListText)</h2>
                </div>
                <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="d-flex align-items-center product-list-filter">
                        <div class="product-list-filter_view d-flex align-items-center">
                            <span>
                                @Html.DisplayFor(x => x.ViewAsText)
                            </span>
                            <span class="item-view current"><i class="fa fa-th" aria-hidden="true"></i></span>
                            <span class="list-view"><i class="fa fa-th-list" aria-hidden="true"></i></span>
                        </div>
                        <button class="btn btn-outline-primary btn-sort d-flex align-items-center degrease">
                            <span>
                                @Html.DisplayFor(x => x.SortText)
                            </span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row js-product-list">
                @if (Model.Products != null && Model.Products.Any())
                {
                    Html.RenderPartial("_ProductList", Model.Products);
                }
            </div>
            <div class="product-list-loading" hidden>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </section>
    <!-- End product list -->
    <!-- Start news -->
    <section id="news" class="news">
        <div class="container">
            <div class="news-content">
                <div class="row">
                    <div class="col col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="news-item">
                            <h3 class="news-title">Free shipping</h3>
                            <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fugiat nam qui, at odit quis quibusdam debitis dolor maxime voluptatum.</p>
                        </div>
                    </div>
                    <div class="col col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="news-item">
                            <h3 class="news-title">Testimonials</h3>
                            <p class="news-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo fugiat nam qui, at odit quis quibusdam debitis dolor maxime voluptatum.</p>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="news-item">
                            <h3 class="news-title">Blog News</h3>
                            <div class="news-blog d-flex">
                                <p class="news-blog_thumb">Apr 01</p>
                                <div>
                                    <h4 class="news-blog_title">Lorem ipsum dolor sit.</h4>
                                    <div class="news-blog_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="news-blog d-flex">
                                <p class="news-blog_thumb">Apr 01</p>
                                <div>
                                    <h4 class="news-blog_title">Lorem ipsum dolor sit.</h4>
                                    <div class="news-blog_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End news -->

}