﻿@using EPiServer.Commerce.Order
@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@model EPiServer.Reference.Commerce.Site.Features.OrderHistory.ViewModels.OrderHistoryViewModel

@{ var order = Model.Orders.FirstOrDefault(); }
@section Styles{
    <link href="~/Static/css/order-history.css" rel="stylesheet" />
}
<div class="container-fluid o-history">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            @{ var orderForm = order.PurchaseOrder.GetFirstForm();
    <div class="container">
        <div class="row">
            <div class="d-header border w-100 d-flex text-white">
                <div class="col-lg-4">
                    <a href="@Url.Action("","OrderHistory")">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>
                        @Html.Translate("/OrderHistory/Labels/Back")
                    </a>
                </div>
                <h4 class="col-lg-8">@Html.Translate("/OrderHistory/Labels/OrderID") @order.PurchaseOrder.OrderNumber</h4>
            </div>
            <div class="d-content w-100">
                <div class="d-flex border-bottom mb-3">
                    <div class="col-xs-12 col-lg-6">
                        <p>@Html.Translate("/OrderHistory/Labels/OrderDate") @order.PurchaseOrder.Created.ToLongDateString()<br>@Html.Translate("/OrderHistory/Labels/Status") <strong>@order.PurchaseOrder.OrderStatus</strong></p>
                        @Html.Translate("/OrderHistory/Labels/Payment")
                        @if (orderForm.Payments.Any())
                        {
            @String.Join(", ", orderForm.Payments.Select(x => x.PaymentMethodName))}
                        @Html.Translate("/OrderHistory/Labels/TotalPrice") @Helpers.RenderMoney(order.PurchaseOrder.GetTotal())
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <h4>@Html.Translate("/OrderHistory/Labels/ShippedTo")</h4>
                        @foreach (var shippingAddress in order.ShippingAddresses)
                        {
            @Html.Partial("_Address", shippingAddress)}

                    </div>
                </div>

                <div class="col-xs-12 col-lg-12">
                    <h4>@Html.Translate("/OrderHistory/Labels/ItemTitle")</h4>
                    <ul class="list-unstyled">
                        @foreach (var item in order.Items)
                        {
            <li class="m-3">
                <a href="@item.LineItem.GetUrl()" class="link--black">
                    <img class="img-thumbnail" src="@item.LineItem.GetThumbnailUrl()" /> @item.LineItem.DisplayName
                </a>
            </li>}
                    </ul>
                </div>
            </div>
        </div>
    </div> }
        </div>
    </div>
</div>