@using EPiServer.Commerce.Order
@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@using EPiServer.Reference.Commerce.Site.Helpers
@model EPiServer.Reference.Commerce.Site.Features.OrderHistory.ViewModels.OrderHistoryViewModel

@section Styles{
    <link href="~/Static/css/order-history.css" rel="stylesheet" />
}
<section id="order-loading" class="js-order-loading-container" data-more="true">
    <div class="hidden">
        <input id="orderLoadingUrl" type="hidden" value="@ApiHelper.Call(ApiUrl.OrderGet)">
    </div>

    <div class="container-fluid">
        <div class="row o-history">
            <div class="w-100">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input data-url-api="@ApiHelper.Call(ApiUrl.OrderSearch)" type="text" class="form-control quick-search">
                </div>
            </div>
            <div class="l-content">
                <div class="treetable d-flex w-100">
                    @if (!Equals(Model.Orders, null) && Model.Orders.Any())
                    {
                        <table class="tree-table table table-hover table-bordered">
                            <thead>
                                <tr class="tb-head">
                                    <th class="text-center">@Html.Translate("/OrderHistory/Labels/OrderID")</th>
                                    <th class="text-center">@Html.Translate("/OrderHistory/Labels/Status")</th>
                                    <th class="text-center">@Html.Translate("/OrderHistory/Labels/OrderDate")</th>
                                    <th class="text-center">@Html.Translate("/OrderHistory/Labels/Payment")</th>
                                    <th class="text-center">@Html.Translate("/OrderHistory/Labels/TotalPrice")</th>
                                    <th class="text-center">@Html.Translate("/OrderHistory/Labels/ShippedTo")</th>
                                </tr>
                            </thead>
                            <tbody class="js-order-loading">
                                @Html.Partial("DataTable", Model)
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <h4 class="text-info">
                                @Html.Translate("/OrderHistory/Labels/NotOrder")
                            </h4>
                        </div>
                    }

                </div>
                <div class="order-list-loading" hidden>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</section>
@section  Scripts {
    <script src="~/Static/script/jquery-simple-tree-table.js"></script>
    <script src="~/Static/script/order-loading.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tree-table').simpleTreeTable();
        });
    </script>
}