@using EPiServer.Web.Routing
@using EPiServer.ServiceLocation
@using Mediachase.Commerce;
@using System.Web.Optimization
@model EPiServer.Reference.Commerce.Site.Features.Navigation.ViewModels.NavigationViewModel
@{
    Layout = null;
}
<!-- Start header -->
@*@Styles.Render("~/styles/bundled")*@

<header id="header" class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="@UrlResolver.Current.GetUrl(Model.StartPage.ContentLink)" class="logo d-flex align-items-center">
                            <img src="~/Static/images/logo.png" alt="logo">
                        </a>
                        <div class="d-flex align-items-center">
                            @using (Html.BeginForm("Index", null, new { node = Model.StartPage.SearchPage }, FormMethod.Get, htmlAttributes: new { role = "search", @class = "header-search d-flex align-items-center" }))
                            {

                                <div class="input-group">
                                    <input aria-label="Search..." placeholder="Search..." type="text" class="form-control form-inline search-input jsQuickSearch" id="q2" name="q" data-url="@Url.Action("quicksearch", null, new { node = Model.StartPage.SearchPage })" />

                                </div>
                                <button class="header-search-btn" type="button">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            }

                            @*<a href="#" class="header-login">
                                    <span>LOGIN or REGISTER</span>
                                </a>*@
                            @Html.PropertyFor(model => model.UserLinks, new { @class = "header-login", role = "menu" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="d-flex justify-content-between">
                        @Html.Partial("MainMenu", Model.StartPage.MainMenu)
                        <nav class="navbar navbar-expand-lg navbar-light header-menu">
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav">
                                    <a class="nav-item nav-link header-favorite" href="#">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <span>30</span>
                                    </a>

                                    <a class="nav-item nav-link header-cart" href="@Url.ContentUrl(Model.MiniCart.CheckoutPage)">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span class="counter counter--small cartItemCountLabel">@Model.MiniCart.ItemCount.ToString("F0")</span>
                                        &nbsp; &nbsp; <b class="cartTotalAmountLabel">@Model.MiniCart.Total.ToString()</b>
                                    </a>

                                    <span id="MiniCart" class="dropdown-menu product-dropdown-container cart-dropdown-container jsCartDropdown">@{ Html.RenderPartial("_MiniCartDetails", Model.MiniCart); }</span>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End header -->
