@using EPiServer.Web.Routing
@using EPiServer.ServiceLocation
@using Mediachase.Commerce;
@using System.Web.Optimization
@model EPiServer.Reference.Commerce.Site.Features.Navigation.ViewModels.NavigationViewModel
@{
    Layout = null;
}
<!-- Start header -->
@*@Styles.Render("~/styles/bundled")*@

<header id="header" class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="@UrlResolver.Current.GetUrl(Model.StartPage.ContentLink)" class="logo d-flex align-items-center">
                            <img src="~/Static/images/logo.png" alt="logo">
                        </a>
                        <div class="d-flex align-items-center">
                            @using (Html.BeginForm("Index", null, new { node = Model.StartPage.SearchPage }, FormMethod.Get, htmlAttributes: new { role = "search", @class = "header-search d-flex align-items-center product-search-wrap" ,autocomplete="off"}))
                            {

                                <div class="input-group">
                                    <input autocomplete="off" aria-label="Search..." placeholder="Search..." type="text" class="form-control form-inline search-input jsQuickSearch" id="q2" name="query" data-url="@Url.Action("quicksearch", null, new { node = Model.StartPage.SearchPage })" />
                                    <button class="header-search-btn" type="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="jsQuickSearchResult product-dropdown-container product-search-result" style="display: none;"></div>
                            }

                            @*<a href="#" class="header-login">
                                    <span>LOGIN or REGISTER</span>
                                </a>*@
                            @Html.PropertyFor(model => model.UserLinks, new { @class = "header-login", role = "menu" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="d-flex justify-content-between">
                        @Html.Partial("MainMenu", Model.StartPage.MainMenu)
                        <nav class="navbar navbar-expand-lg navbar-light header-menu">
                            <div class="collapse navbar-collapse" id="navbar-cart-info">
                                @Html.Partial("_NavbarCartInfo", Model.MiniCart)
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End header -->
