@model EPiServer.Reference.Commerce.Site.Features.Product.ViewModels.FashionProductViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon"
          href="~/ClientResources/dist/assets/images/favicons.ico"
          type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product detail</title>
    <link rel="stylesheet" href="~/ClientResources/dist/assets/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ClientResources/dist/assets/libs/font-awesome.css" />
    <link rel="stylesheet" href="~/ClientResources/dist/assets/libs/slick.min.css" />
    <link rel="stylesheet" href="~/ClientResources/dist/assets/css/reset.css" />
    <link rel="stylesheet" href="~/ClientResources/dist/assets/css/font.css" />
    <link rel="stylesheet" href="~/ClientResources/dist/assets/css/header.css" />
    <link rel="stylesheet" href="~/ClientResources/dist/assets/css/product-card.css" />
    <link rel="stylesheet" href="~/ClientResources/dist/assets/css/footer.css" />
    <link rel="stylesheet" href="~/ClientResources/dist/assets/css/styles.css" />
    <link rel="stylesheet" href="~/ClientResources/dist/assets/css/product-detail.css">
</head>
<body>
    <div class="wrapper">
        <!-- Start header -->
        <header id="header" class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col col-12">
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="logo d-flex align-items-center">
                                    <img src="~/ClientResources/dist/assets/images/logo.png" alt="logo" />
                                </a>
                                <div class="d-flex align-items-center">
                                    <form class="header-search d-flex align-items-center">
                                        <div class="input-group">
                                            <input type="text"
                                                   class="form-control"
                                                   aria-label="Search..."
                                                   placeholder="Search..." />
                                        </div>
                                        <button class="header-search-btn" type="button">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                    <a href="#" class="header-login">
                                        <span>LOGIN or REGISTER</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col col-12">
                            <div class="d-flex justify-content-between">
                                <nav class="navbar navbar-expand-lg navbar-light header-menu">
                                    <button class="navbar-toggler"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#navbarNavDropdown"
                                            aria-controls="navbarNavDropdown"
                                            aria-expanded="false"
                                            aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                        <div class="navbar-nav">
                                            <a class="nav-item nav-link active" href="#"><span>Home</span></a>
                                            <a class="nav-item nav-link" href="#">Products</a>
                                            <a class="nav-item nav-link" href="#">About</a>
                                            <a class="nav-item nav-link" href="#">Pages</a>
                                            <a class="nav-item nav-link" href="#">Blog</a>
                                            <a class="nav-item nav-link" href="#">Contact</a>
                                        </div>
                                    </div>
                                </nav>
                                <nav class="navbar navbar-expand-lg navbar-light header-menu">
                                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                        <div class="navbar-nav">
                                            <a class="nav-item nav-link header-favorite" href="#">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                                <span>30</span>
                                            </a>
                                            <a class="nav-item nav-link header-cart" href="#">
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                <span>30</span>
                                            </a>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End header -->
        <!-- Start product detail -->
        <section id="product-detail" class="product-detail">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="product-detail-carousel">
                            <div id="slick" class="slick">
                                @for (var i = 0; i < Model.Images.Count; i++)
                                {
                                    <div class='slick-item'>
                                        <img src="@Model.Images.ElementAt(i)" alt="@Model.Product.Code" class="slick-item_img">
                                    </div>
                                }
                            </div>
                            <div class="extra-dots">
                                <div class="d-flex justify-content-center">
                                    @for (var i = 0; i < Model.Images.Count; i++)
                                    {
                                        string active = i == 0 ? "active" : string.Empty;
                                        <div class="extra-dots-item @active" data-extra="@i">
                                            <img src="@Model.Images.ElementAt(i)" alt="@Model.Product.Code" class="slick-item_img">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="product-detail-info">
                            <span class="price">@string.Format("{0}", Model.ListingPrice)</span>
                            <h1 class="product-detail-info_title">@Model.Product.DisplayName</h1>
                            <p class="product-detail-info_desc">@Model.Product.LongDescription</p>
                            <form action="" class="form-add-to-cart d-flex">
                                <div class="input-group">
                                    <input type="number" min="0" class="form-control" placeholder="amount" aria-label="amount" aria-describedby="amount">
                                </div>
                                <button class="btn btn-primary add-to-cart ml-2">Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12">
                        <div class="product-detail-paragraph">
                            @foreach (var specification in Model.Product.TechSpecs)
                            {
                                <div class="product-tech-spec">
                                    <p class="title">@specification.Name</p>
                                    <p class="text">@Html.Raw(specification.Description)</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End product detail -->
        <!-- Start Prefer -->
        <section class="prefer">
            <div class="container">
                <div class="row">
                    <div class="col col-12">
                        <h2 class="prefer-title">You may alse like</h2>
                        <div class="prefer-carousel">
                            <div class="prefer-slick prefer-js-slick">
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="prefer pb-4">
            <div class="container">
                <div class="row">
                    <div class="col col-12">
                        <h2 class="prefer-title">Related Product</h2>
                        <div class="prefer-carousel">
                            <div class="prefer-slick prefer-js-slick">
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                                <div class='slick-item'>
                                    <div class="product-card">
                                        <a href="#" class="product-card_img">
                                            <img src="~/ClientResources/dist/assets/images/product-img.png" alt="product image">
                                        </a>
                                        <div class="product-card-bottom">
                                            <p class="product-card_name">Lorem</p>
                                            <nav class="product-action">
                                                <ul class="d-flex">
                                                    <li>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-star-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button><i class="fa fa-share-square-o" aria-hidden="true"></i></button>
                                                    </li>
                                                    <li>
                                                        <button class="add-to-cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="product-card-tags">
                                            <p class="tags on-sale">on sale!</p>
                                            <p class="tags out-stock">out of stock</p>
                                        </div>

                                        <span class="price">$68,68</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End prefer -->
        <!-- Start footer -->
        <footer id="footer" class="footer">
            <div class="footer-about-us">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
                            <h3 class="footer-about-us_title">Text Widget</h3>
                            <p class="footer-about-us_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non autem repellat optio quae, deleniti similique minus at debitis inventore dolores.</p>
                        </div>
                        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
                            <h3 class="footer-about-us_title">Text Widget</h3>
                            <p class="footer-about-us_desc">
                                <i></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. <i></i>
                            </p>
                            <p class="footer-about-us_desc time">21 days ago</p>
                            <p class="footer-about-us_desc">
                                <i></i> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            </p>
                            <p class="footer-about-us_desc time">21 days ago</p>
                        </div>
                        <div class="col col-lg-4 col-md-12 col-sm-12 col-12">
                            <h3 class="footer-about-us_title">Flickr widget</h3>
                            <div class="d-flex flex-wrap">
                                <img src="~/ClientResources/dist/assets/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                                <img src="~/ClientResources/dist/assets/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                                <img src="~/ClientResources/dist/assets/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                                <img src="~/ClientResources/dist/assets/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                                <img src="~/ClientResources/dist/assets/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                                <img src="~/ClientResources/dist/assets/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                                <img src="~/ClientResources/dist/assets/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                                <img src="~/ClientResources/dist/assets/images/gallery.jpg" alt="gallery" class="footer-about-us_gallery">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-contact">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-6 col-md-12 col-12">
                            <form action="">
                                <div class="input-group footer-contact_form w-75">
                                    <input type="text" class="form-control" placeholder="Enter email for news letter" aria-label="Enter email for news letter" aria-describedby="email">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col col-lg-6 col-md-12 col-12">
                            <div class="d-flex justify-content-end footer-contact_social">
                                <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="social"><i class="fa fa-google-plus" aria-hidden="true"></i></i></a>
                                <a href="#" class="social"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#" class="social"><i class="fa fa-flickr" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-static">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
                            <p>Copyright &copy; Niteco </br>Designed by Niteco</p>
                        </div>
                        <div class="col col-lg-6 col-md-12 col-sm-12 col-12">
                            <p class="text-right">Home / Support / Terms and Conditions / Faqs / Contact us</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer -->
    </div>
    <script src="~/ClientResources/dist/assets/libs/jquery-3.6.0.min.js"></script>
    <script src="~/ClientResources/dist/assets/libs/slick.min.js"></script>
    <script src="~/ClientResources/dist/assets/script/index.js"></script>
</body>
</html>
